$error-color: rgb(220, 20, 60);
$green-color: rgb(0, 128, 0);
$blue-color: rgb(115, 199, 213);
$white-color: rgb(255, 255, 255);
$nav-link-hover-color: rgb(238, 238, 238);
$grey-color: rgb(53, 52, 52);
$black-color: rgb(0, 0, 0);
$light-grey-color: rgb(153, 153, 153);
$register-btn-color:rgb(35, 146, 241);
$success-color:rgb(8,87,8);
