@use "../../scss/variables/varsColor";
// 2392f1
.register-page {
    .login-page {
        width: 360px;
        padding: 3% 0 0;
        margin: auto;
        .form .login {
            margin-top: -15px;
            margin-bottom: 0px;
        }
    }

    .form {
        position: relative;
        z-index: 1;
        background: varsColor.$white-color;
        max-width: 360px;
        margin: 0 auto;
        padding: 45px;
        
        text-align: start;
        filter: drop-shadow(8px 8px 10px rgb(111, 112, 197));
        border-radius: 5px;
        h3{
            text-align: center;
        }
        .input-icon i{
            position: absolute;
            margin-top:1em;
            padding: 0.5em;
            color: varsColor.$error-color;
           
        }
        input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: rgb(242, 242, 242);
            width: 100%;
            border: 1px solid rgb(242, 242, 242) ;
            margin: 0 ;
            margin-top: 0.5em;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
           
            &:focus { 
                border: 1px solid varsColor.$blue-color;
                // border-color: #719ECE;
                // box-shadow: 0 0 10px #719ECE;
            }
        }
        button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background-color: varsColor.$register-btn-color;
            width: 100%;
            border: 0;
            padding: 15px;
            color: varsColor.$white-color;
            font-size: 14px;
            cursor: pointer;
        }
        .message {
            margin: 15px 0 0;
            color: black;
            font-size: 12px;
            text-align: center;
            .underline-link{
                color: rgb(61, 61, 224);
                text-decoration: underline;
                font-weight: 600;
            }
        }
    }

    .login-btn {
        text-decoration: none;
        color: varsColor.$white-color;
        font-weight: bold;
    }

    .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
    }
    .error {
        color: varsColor.$error-color;
        font-size: 0.85em;
        margin-left: 0.2em;
        margin-top: 0.25em;
        margin-bottom: 0.75em;
        padding-bottom: 0.5em;
    }
    min-height: 100vh;
    background-color: varsColor.$blue-color;
    font-family: "Roboto", sans-serif;
}
